body {
	 background-color: black;
	 color: white;
	 font-size: 22px;
	 padding: 0px;
	 margin: 0px;
}

div#main {
	position: relative;
}

div#dndArea {
	 width: 95%;
	 height: 95px;
	 padding: 10px;
	 text-align:center;
	 margin: 15px auto;
	 background-color: #555;
	 border: 3px dotted #aaa;
	 border-radius: 5px;
	 -webkit-border-radius: 5px;
	 -moz-border-radius: 5px;
	 opacity: 0.4;
	 z-index: 100;
	 position: relative;
	 -webkit-transition: opacity 0.5s linear;
}

div#dndArea:hover {
	opacity: 1;
	 -webkit-transition: opacity 0.5s linear;
}


canvas#drawHere {
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 1;  
}

.controls {
	position: absolute;
	top: 150px; /* below the dnd area */
	z-index: 100;
}

@-webkit-keyframes pulse {
    from { box-shadow:0 0 1px #23B2EB; }
    15%  { box-shadow:0 0 35px #23B2EB; }
    to   { box-shadow:0 0 1px #23B2EB; }
}

