body {
	 background-color: black;
	 color: white;
	 font-size: 22px;
	 padding: 0px;
	 margin: 0px;
}

div#main {
	position: absolute;
	width: 100%;
}

div#dndArea {
	 width: 90%;
	 max-height: 95px;
	 padding: 10px;
	 text-align:center;
	 margin: 5px auto;
	 background-color: #555;
	 border: 3px dotted #aaa;
	 border-radius: 5px;
	 -webkit-border-radius: 5px;
	 -moz-border-radius: 5px;
	 opacity: 0.7;
	 z-index: 100;
	 position: relative;
	 -webkit-transition: opacity 0.5s linear;
	 color: orange;
	 font-weight: bold;	 
     text-shadow: 1px 1px 1px #0740eb;
     filter: dropshadow(color=#0740eb, offx=1, offy=1);
}

div#dndArea p {
	font-size: 16px;
	margin-bottom: 5px;
	margin-top: 5px;

}

div#dndArea:hover {
	opacity: 0.9;
	-webkit-transition: opacity 0.5s linear;
}



canvas#drawHere {
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 1;  
}

canvas#drawCirclesHere {
	position: absolute;
	top: 0;
	left: 0;
}

.controls {
	position: absolute;
	top: 150px; /* below the dnd area */
	z-index: 100;
}


@media only screen and (min-height: 450px) {
	div#dndArea p {
		font-size: 26px;
		margin-bottom: 22px;
		margin-top: 22px;
	}
	
	div#dndArea {
		margin: 15px auto;
	}
}

.buttons {
	position: absolute;
	top: 40px;
	left: 90px;
	z-index: 150;
}

.buttons a {
	font-weight: bold;
	display: inline-block;
	border: 1px dotted #333;
	padding: 4px 7px;
	margin: 7px;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	color: #333;
	background-color: #999;
	text-decoration: none;
	
	-webkit-transition: opacity 0.5s linear;
}

.buttons a:hover {
	color: #999;
	background-color: #333;
}